*{
    margin: 0px;
    padding: 0px;
}

#wrapper {
    background-color: #1E3741;
    font-family: 'Arial';
    width: 680px;
    height: 375px;
    margin: 10px;
    border-radius: 5px;
}

header nav{
    padding: 15px 1px;
    font-size: 0.80em;
}

    header nav ul {
        list-style-type: none;
    }
        header nav ul li {
            background-color: #4B5F67;
            padding: 9px 17px;
            margin: -1px;
            display: inline;
        }
            header nav ul li#activeNav {
                background: none;
            }

            header nav ul li:nth-child(2){
                text-decoration: underline;
            }

            header nav ul li a {
                text-decoration: none;
                color: #93ACA9;
            }

                header nav ul li a:hover {
                    text-decoration: underline;
                }

            header nav ul li#activeNav a {
                color: #ffffff;
            }

section ul {
    list-style-type: none;
    margin-top: 10px;
    color: #A5AFB3;
    width: 260px;
    float: left;
}
    section ul li {
        font-size: 0.90em;
        padding: 12px;
    }

    section ul li:first-child{
        height: 20px;
        font-weight: bold;
    }

    section ul li:hover {
        cursor: pointer;
        background-color: #465F69;
    }

        section ul li:not(:first-child) {
            border: 0 solid #3A4F58;
            border-width: 1px 0 0 0;
        }

        section ul li#activeNews {
            background-color: #00968C;
            color: #ffffff;
        }

section img {
    margin-top: 10px;
    float: left;
    height: 280px;
}